.header{
  background-color: seagreen;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  margin:5px;
}
.header button{
    background-color: rgb(164, 70, 47);
    padding: 10px 20px;
    border-radius: 5px;
}